body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: #ECECEC;
}

h1 {
    color:#000000; /*#80805E*/
    font-size: xx-large;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight: 600;
}

h2 {
    font-size: x-large;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight:500;
}

h3 {
    font-size: large;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight: 400;
}

h4 {
    font-size: medium;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight: 400;
}

h5 {
    font-size: small;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight: 300;
}

h6 {
    font-size: x-small;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    font-weight: 300;
}

p {
    font-size: small;
    display:block;
    margin-left: 5px;
    margin-top: 5px;
    margin: 5px 0 0 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding: 10px;
}

#current {
    font-weight: bold;
}

#navigation {
    margin-left: 10px;
    margin-top: 20px;
    margin: 20px 0 0 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding: 20px;
    border-bottom: solid;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

#image {
    /*margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;*/
    /*padding-left: 5px;
    padding-top: 10px;*/
    /*padding: 10px;*/
    width: 100%;
}

#menu {
    position: absolute;
    top: 7.5em;
    right: 1em;
}

#header {
    position: relative;
    background: #ECECEC;
    height: 10em;
    padding-left: 1em;
    border-bottom: solid 5px #000000;
}

#menu .first {
    position: relative;
    color: #ffffff;
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

#menu li {
    position: relative;
    color: #ffffff;
    display: inline;
    padding-left: 1.1em;
    margin-left: 1em;
    border-left: solid 1px;
}

#body {
    display: flex;
    flex-direction: row;
}

#footer {
    position: relative;
    z-index: 1;
    border-top: solid 1px #000000;
    padding: 1em 0 2em 0;
    text-align: center;
}
/*#primaryContentContainer {
    background: #ffffff top left repeat-y;
    float: right;
    margin: 0 auto 0 18.56em;
    /*width: 100%;*/
    /*height: 100%;*/
    /*flex-grow: 1;*/
    /*display: flex;
    flex-direction: column;
}*/

#primaryContent{
    /*margin: 0 auto 0 16.5em;*/ 
    /*padding: 0 3em 1.5em 3em;*/
    height: 100%;
    background: #ECECEC top left repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#primaryContentBlock {
    width: 95%;
    margin-top: 3em;
}

#secondaryContentContainer {
    position: relative;
    float: left;
    width: 12.5em;
    padding: 3.5em 2em 1.5em 2em;
    background: #FFCCBC;
}

#secondaryContent {
    position: fixed;
    float: left;
    /*width: 12.5em;*/
    /*padding: inherit;*/
    left: 5px;
}

#tertiaryContent {
    position: relative;
    width: 10%;
    padding: 3em 2em 1.5em 2em;
    background: #FFCCBC;
}

.button {
    background-color: #90CCF4;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    /*width: 25%;*/
}

.buttons {
    display: flex;
    flex-direction: row;
}/*for Buttons wrap*/

/* Team Columns*/
.column {
    /*float: left;*/
    width: 10%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.team {
    display: flex;
    flex-direction: row;
    margin: 2em 0 5em 0;
    justify-content:center;
}

/* Columns werden vertikal bei kleinerer Anwendung angezeigt*/
@media screen and (max-width: 650px) {
    .column{
        width: 100%;
        display: block;
    }
}

/*Schatten als Effekt*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Links und Rechts padding innerhalb Container*/
.container {
    padding: 0 16px;
}

.title {
    color: grey;
    text-align: center;

}


#Suchleiste {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 94.5%; /* Full-width */
    font-size: medium; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#Tabelle {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: medium; /* Increase font-size */
    margin: 2em 0 5em 0;
}

    #Tabelle th, #Tabelle td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }

    #Tabelle tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

        #Tabelle tr.header, #Tabelle tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #f1f1f1;
        }

#formular {
    width: 50%;
    margin: 3em 0 5em 0;
    padding: 16px;
}

#InputLeiste, textarea {
    width: 100%;
    font-size: 18px;
    padding: 6px 9px 4px 6px;
    background: #f1f1f1;
}

#InputLeiste:focus {
    background-color: #ddd;
    outline: none;
}

#socmed {
    display: flex;
    flex-direction: column;
    margin: 2em 0 2em 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 25px;
}
    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.7;
    }

    /* Specific Color for the icons*/
/* Facebook */
.fa-facebook {
    background: #90CCF4;
    color: #000000;
    margin-bottom: 2em;
}

/* Instagram*/
.fa-instagram {
    background: #90CCF4;
    color: #000000;
    margin-bottom: 2em;
}

/*Youtube*/
.fa-youtube {
    background: #90CCF4;
    color: #000000;
}

.parallax {
    /*Bild auf Startseite*/
    background-image: url("BgParallax.jpg");
    /*Set a specific height*/
    min-height: 125px;
    width: 100%;
    /*Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: unset;
    }
}

.email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#meinProfilBild{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /*flex-grow: 1;*/
}

.imgMeinProfil{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Make the image to responsive */
.image {
    display: block;
    width: 100%;
    height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    /*background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);*/ /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
    opacity: 1;
}

.buttonHalterMP {
    height: 10%;
    width: 30%;
    /*text-align: left;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

